{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
  },
  "rules": {
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-unused-vars": 0,
    "@typescript-eslint/no-inferrable-types": "off",

    "semi": ["warn", "never"],
    "quotes": ["warn", "single"],
    "no-multiple-empty-lines": ["warn", { "max": 1 }],
    "no-empty-function": "off",
    "@typescript-eslint/no-empty-function": "off"
  }
}
